<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Medixer - Medical and Health HTML5 Template</title>

    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" type="images/x-icon" />

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/datepicker.min.css">
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/default.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>
        <!-- preloader  -->
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="P" class="letters-loading">
                            P
                        </span>
                        <span data-text-preloader="R" class="letters-loading">
                            R
                        </span>
                        <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                        <span data-text-preloader="N" class="letters-loading">
                            N
                        </span>
                        <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                        <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                        <span data-text-preloader="T" class="letters-loading">
                            T
                        </span>
                        <span data-text-preloader="O" class="letters-loading">
                            O
                        </span>
                        <span data-text-preloader="N" class="letters-loading">
                            N
                        </span>
                    </div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->

    <!-- header start -->
    <header id="sticky-header" class="site-header">
        <div class="container custom-header">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3">
                    <a href="index.html" class="site-logo">
                        <img src="https://princetonhmo.net/wp-content/uploads/2019/08/logo_princeon.png" alt="">
                    </a>
                    <div class="mobile-menu"></div>
                </div>
                <div class="col-xl-6 col-lg-9 my-auto">
                    <div class="mainmenu">
                        <nav id="mobile-menu">
                            <ul>
                                <li><a href="#0">Home</a>
                                    <!-- <ul class="sub-menu">
                                        <li><a href="index.html">Home Style 01</a></li>
                                        <li><a href="index-2.html">Home Style 02</a></li>
                                        <li><a href="index-3.html">Home Style 03</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="services.html">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="services-01.html">The Board</a></li>
                                        <li><a href="services-02.html">Management Team</a></li>
                                        <li><a href="services-03.html">FAQs</a></li>
                                    </ul>
                                </li>
                                <li><a href="services.html">Our Plans</a></li>
                                <li><a href="shop.html">Resources</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="#0">Contact US</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 d-none d-xl-block">
                    <div class="header-top-info d-flex align-items-center">
                        <div class="icon">
                            <img src="assets/images/icons/header-top-icon-1.png" alt="">
                        </div>
                        <div class="content">
                            <p>Get Support</p>
                            <a href="tel:987876875865">+987 (876) 875 86 5</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    <!-- breadcrumb area start -->
    <section class="breadcrumb-area bg_img pb-160" data-overlay="8"
        data-background="assets/images/uploads/board.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2 class="title">Management Team</h2>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>|</li>
                            <li>Management Team</li>
                        </ul>
                        <h1 class="back-title">MANAGEMENT</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->

    <!-- our-expert area start -->
    <section class="our-expert-area bg-2 pt-100 pb-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 text-center">
                    <div class="section-heading mb-70">
                        <h2 class="section-title shape">MANAGEMENT TEAM </h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
                            or incididunt ut labore et dolore magna aliqua.</p> -->
                    </div>
                </div>
            </div>
            <div class="row no-gutters expert-box-wrap">
                <div class="col-xl-6 col-lg-12">
                    <div class="single-expert-box">
                        <div class="expert-box-left">
                            <div class="thumb">
                                <img src="https://princetonhmo.net/wp-content/uploads/2019/08/Dr.-Adesina-Adegunle-Ph.D.-270x266.png" alt="">
                                <!-- <span class="icon"><img src="assets/images/icons/icon-tablate.png" alt=""></span> -->
                            </div>


                            <div class="content">
                                <h5 class="name">DR. ADESINA ADEGUNLE, PH.D.</h5>
                                <span class="designation">Managing Director</span>
                                <!-- <img src="assets/images/team/signature.png" alt="" class="signature"> -->
                            </div>
                        </div>
                        <div class="expert-box-right">
                            <div class="content">
                                <p>Adesina Olufemi Adegunle holds a Ph.D. in Management (specializing in leadership and organizational change) from Walden University, USA. He has over 25 year’s practical experience. He is a Member of American Management Association and Member Academy of Management, USA. Founder, Next Generation Foundation.</p>
                                <!-- <div class="expert-box-buttons">
                                    <a href="contact.html" class="site-btn white">Contact Now</a>
                                    <span class="comments-btn"><i class="fal fa-comments"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="single-expert-box">
                        <div class="expert-box-left">
                            <div class="thumb">
                                <img src="https://princetonhmo.net/wp-content/uploads/2019/08/Mr.-Femi-Famoriyo-270x266.png" alt="">
                                <!-- <span class="icon"><img src="assets/images/icons/icon-tablate.png" alt=""></span> -->
                            </div>
                            <div class="content">
                                <h5 class="name">MR. FEMI FAMORIYO</h5>
                                <span class="designation">General Manager and Head, Human Resources and Administration</span>
                                <!-- <img src="assets/images/team/signature.png" alt="" class="signature"> -->
                            </div>
                        </div>
                        <div class="expert-box-right">
                            <div class="content">
                                <p>Mr. Femi Famoriyo is the General Manager and Head-Human Resources. He has over 15 years of relevant experience.</p>
                                <!-- <div class="expert-box-buttons">
                                    <a href="contact.html" class="site-btn white">Contact Now</a>
                                    <span class="comments-btn"><i class="fal fa-comments"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="single-expert-box">
                        <div class="expert-box-left">
                            <div class="thumb">
                                <img src="https://princetonhmo.net/wp-content/uploads/2019/08/Sasere-Bolaji-270x266.png" alt="">
                                <!-- <span class="icon"><img src="assets/images/icons/icon-tablate.png" alt=""></span> -->
                            </div>
                            <div class="content">
                                <h5 class="name">SASERE BOLAJI</h5>
                                <span class="designation">Head of Finance and Company Secretary</span>
                                <!-- <img src="assets/images/team/signature.png" alt="" class="signature"> -->
                            </div>
                        </div>
                        <div class="expert-box-right">
                            <div class="content">
                                <p>Sasere Bolaji is the Head of Finance/Company Secretary, a Chartered Accountant with over 10 year’s relevant experience. </p>
                                <!-- <div class="expert-box-buttons">
                                    <a href="contact.html" class="site-btn white">Contact Now</a>
                                    <span class="comments-btn"><i class="fal fa-comments"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="single-expert-box">
                        <div class="expert-box-left">
                            <div class="thumb">
                                <img src="https://princetonhmo.net/wp-content/uploads/2019/08/Akinola-Sunday-270x266.png" alt="">
                                <!-- <span class="icon"><img src="assets/images/icons/icon-tablate.png" alt=""></span> -->
                            </div>



                            <div class="content">
                                <h5 class="name">AKINOLA SUNDAY</h5>
                                <span class="designation">Assistant Head, Underwriting</span>
                                <!-- <img src="assets/images/team/signature.png" alt="" class="signature"> -->
                            </div>
                        </div>
                        <div class="expert-box-right">
                            <div class="content">
                                <p>Mr. Akinola Sunday is the Head, Underwriting with over 10 years of relevant experience.</p>
                                <!-- <div class="expert-box-buttons">
                                    <a href="contact.html" class="site-btn white">Contact Now</a>
                                    <span class="comments-btn"><i class="fal fa-comments"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="single-expert-box">
                        <div class="expert-box-left">
                            <div class="thumb">
                                <img src="https://princetonhmo.net/wp-content/uploads/2019/08/Dr.-E.-Eze-270x266.png" alt="">
                                <!-- <span class="icon"><img src="assets/images/icons/icon-tablate.png" alt=""></span> -->
                            </div>

                            <div class="content">
                                <h5 class="name"> DR. E. EZE</h5>
                                <span class="designation">Manager, Health Services</span>
                                <!-- <img src="assets/images/team/signature.png" alt="" class="signature"> -->
                            </div>
                        </div>
                        <div class="expert-box-right">
                            <div class="content">
                                <p>Dr. E. Eze is the Head-Health services with over 10 years of relevant experience.</p>
                                <!-- <div class="expert-box-buttons">
                                    <a href="contact.html" class="site-btn white">Contact Now</a>
                                    <span class="comments-btn"><i class="fal fa-comments"></i></span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- our-expert area end -->

    <!-- appointment area start -->
    <section class="appointment-area appointment-area-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appointment-box appointment-box-2">
                        <div class="row">
                            <div class="col-xl-7 col-lg-10">
                                <div class="section-heading">
                                    <h4 class="sub-title">Get A Quote</h4>
                                    <h2 class="section-title">Make An Appointment <br> Right Now<span>.</span></h2>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 my-auto text-right">
                                <a href="contact.html" class="site-btn">Make Appointment</a>
                            </div>
                        </div>
                        <div class="appointment-ilustration">
                            <img src="assets/images/ilustration/ilustration-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- appointment area end -->



    <!-- footer start -->
    <footer class="site-footer pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-12 pr-50">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="footer-widget">
                                <h4 class="widget-title">About Us</h4>
                                <p>Princeton Health is a Health Maintenance Organization founded in 1999 by a group of Nigerian Professionals from diverse backgrounds to operate as a Health Maintenance Organization (HMO) in Nigeria.</p>
                                <div class="social-links">
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                    <a href="#0"><i class="fab fa-behance"></i></a>
                                    <a href="#0"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-7">
                            <div class="footer-widget">
                                <h4 class="widget-title">Links</h4>
                                <div class="row">
                                    <div class="col-5 pr-10">
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="gallery.html">Portfolio</a></li>
                                            <li><a href="#0">Pricing</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-7 pl-10">
                                        <ul>
                                            <li><a href="blog.html">News</a></li>
                                            <li><a href="#0">Press Release</a></li>
                                            <!-- <li><a href="case-service.html">Case Study</a></li>
                                            <li><a href="#0">Insigts</a></li>
                                            <li><a href="#0">Terms</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-sm-5 col-lg-3"> -->
                            <!-- <div class="footer-widget department">
                                <h4 class="widget-title">Department</h4>
                                <ul>
                                    <li><a href="service-details.html">Body Sergery</a></li>
                                    <li><a href="service-details.html">Major Operation</a></li>
                                    <li><a href="service-details.html">Child Care</a></li>
                                    <li><a href="service-details.html">Heart Operation</a></li>
                                    <li><a href="service-details.html">Instant Karma</a></li>
                                    <li><a href="service-details.html">PGO Theraphy</a></li>
                                </ul>
                            </div> -->
                        <!-- </div> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">
                                <p>Copyright By@ <span>PRINCETON HEALTH CARE LIMITED.</span> - 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 pl-0 pr-10">
                    <div class="opening-hour-box bg_img ml-none-10" data-overlay="94" data-background="assets/images/bg/open-hour-bg.jpg">
                        <div class="opening-hour-top">
                            <div class="icon">
                                <img src="assets/images/icons/clock-icon-white.png" alt="">
                            </div>
                            <div class="content">
                                <h5 class="title">Opening Hours</h5>
                                <p>It’s a fake timing. Actually we
                                are available 24/7.</p>
                            </div>
                        </div>
                        <div class="opening-hour-list">
                            <ul>
                                <li>Monday - Friday<span>8:00 - 16:00</span></li>
                                <li>Saturday<span>8:00 - 12:00</span></li>
                                <li>Sunday<span><strong>Closed</strong></span></li>
                                <li>Lunch Break<span>9:15 - 22:45</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!--========= JS Here =========-->
    <script src="assets/js/jquery-2.2.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/datepicker.min.js"></script>
    <script src="assets/js/datepicker.en.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/waypoint.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
